<body>
	<!-- Navbar -->
	<div class="row">
	<div class="col-sm-12"  >	
		{{ include components.v0/navbar }}
	</div>
	</div>
	<div id="file-hidden-input">
		<input type="file" id="opened-documents" name="documents[]" class="hidden"/>
	</div>


	<section id="editor" >


	
	<div class="row">
	<div class="col-sm-6"  >	
		
		<!-- Editor Toolbar -->
		<div class="row">
		<div class="col-sm-12"  >
			{{ include components.v0/editor-toolbar }}
  		</div>
  		</div>
  		
  		<br>
  		
		<!-- Editor/Console  -->
		<div class="row">
		<div class="col-sm-12"  >

	  		
			<div id="script-editor">
				<!-- Editor Tabs -->  		
				<ul class="nav nav-tabs" role="tablist" id="editor-tabs" >
		  
				</ul>
				<div id="cm-script-editor"></div>		
			</div>					
		</div>
  		</div>
			
  		
	</div>
	
	<br class="hidden-lg hidden-md hidden-sm">
	
	<div class="col-sm-6" >	
			<!-- Logger Toolbar -->
			<div class="row">
			<div class="col-sm-7"  >
				<div class="btn-group btn-group-justified" id="logger-toolbar">
					<a class="btn btn-default" id="copy-to-clbd">{{- icon("share")}} To clipboard</a>
  					<a class="btn btn-default" id="clear">{{- icon("ban-circle")}} Clear</a>
		 		</div>
		 	</div>
		 	<div class="col-sm-5"  >
		 		<br class="hidden-lg hidden-md hidden-sm">
		 			
		 		<div id="logger-regexp" class="form-dark">		
					<input type="text" class="form-control"  placeholder="Enter here an emitter filter regexp.">
				</div>
		 	</div>
	  		</div>
	  		<br>



	  		
			<!-- Logger "Window"-->	  		
			<div class="row">
			<div class="col-sm-12"  id="logger" >				
				<ul class="nav nav-tabs" role="tablist" id="logger-tabs" >
		  			<li class="active"><a role="tab" data-toggle="tab" id="script-tab"> Script Debug</a> </li>
		  			<li><a role="tab" data-toggle="tab" id="chip-tab"> Chip Debug</a> </li>
		  			<li>  				  				
		  				<a role="tab" data-toggle="tab" id="console-tab"> 
		  					{{- icon("task")}}
		  					Console
		  				</a> 
		  			</li>
				</ul>
				<div id="logger-container" class="no-top">	
					<table class="table  table-condensed  table-hover" ></table>		
				</div>
				<br>
				<div class="console hidden" >
					<div id="input" >
						<div ></div>		
					</div>
				</div>
		 	</div>
	  		</div>	  				  		
			
	</div>
	</div>
	<br>		
 	<!-- Currnt operation "Window"-->	  		
	<div class="row">
	<div class="col-sm-12"  >				
		<div class="well well-sm" id="current-op">

		Current operation:
		<span> </span>			

		</div>
	</div>
	</div>  	
	

	
	
	</section>

   
</body>

