<!DOCTYPE html>
<html>

{{ 
function icon(name){
	return config.icons ? "<span class=\"glyphicon glyphicon-"+name+"\"></span>" : "";	
}; 
}}



{{ include head }}
{{ include micro-templates }}
{{ include body.v0.ejs }}


</html>
